extends base.jade
block title
	title= "关于 - " + site.title


block content
	.autopagerize_page_element: .content: .post_page
	    .entry-header
            h1= '关于'
	    .entry.markdown
		    h3= '主题介绍'
		    p
		    	img(src="/_image/screenshot.png")
		    p= 'Bitcron双栏自适应简洁主题'
		    p= '移植（？）&修改自wordpress主题“Slimwriter”，如有侵权请告知'
		    p= '阉割了分类、标签功能，仅有文章和搜索功能，专注于文字'
		    p= '本主题可自由下载使用，禁止二次上传'
		    h3= '使用方法'
		    p= '关于页面的显示（加入导航栏）方法：Dashboard→导航→自定义导航→URL：“/about”，关于页面内容修改：about.jade'
		    p= '密码保护文章创建方法：在文章的meta处添加属性：“password”或密码问题：“question”'
		    h4= '下载'
		    p
		        a(href="/_attachment/template.zip") template.zip
		    p
		        a(href="https://github.com/yamakong/Bitcron-theme-Slimwriter", target="_blank") Github
            h4= '更新'
		    p= 'last update 170716'
		    p= '添加：单篇日记加密功能'
		    h4= '联系'
		    p= 'BUG报告等请邮件联系'
		    p
		        a(href="mailto:moomml3104@gmail.com") Click here to contact me
		
