extends base
block content
	entries = get_data(type='post', limit=300, sort='desc').group('-date:year')
	.post_page
		for sub_title, posts in entries
			.post-archive
				h2= sub_title
				ul.listing
					for post in posts
						li
							span.date= post.date.format("%Y/%m/%d")
							a(href=post.url, title=post.title)= post.title
							
	if paginator.has_pre or paginator.has_next
		.paginator
			if paginator.has_pre
				a.pre(href=paginator.pre_url)= _('上一页')
			if paginator.has_next
				a.next(href=paginator.next_url)= _('下一页')