extends base.jade
block title
	title= site.title + " - " + site.configs.sub_title 
	
block content
	.content
	    for post in get_data(type='post', status=['public', 'secret']): .post
		    if not post.metadata.password
			    .entry-header
			        h1.post-title: a(href=post.url)= post.title
		    else
			    .entry-header
			        h1.post-title
				        | 密码保护：
				        a(href=post.url)= post.title
		            date.info= post.date.format('%B %d, %Y')
		    if post.metadata.password
			    include include/password_form.jade
		    else
			    .entry.markdown= post.content.opening or post.content.limit(250)
		    .entry-footer
			    p
			        a(href=post.url)= 'Read more'

	if paginator.has_pre or paginator.has_next
		.paginator
			if paginator.has_pre
				a.pre(href=paginator.pre_url)= _('上一页')
			if paginator.has_next
				a.next(href=paginator.next_url)= _('下一页')