extends base
block title
	title= request.args.s or site.title

block content
    #main.pure-u-1.pure-u-md-3-4:.post-cols
		.list_container	
	    	for post in posts: 
				article.post-box.pure-u-1.pure-u-sm-1-2.pure-u-md-1-2
		        	.post
			        	if post.cover
			        		a.post-cover-box.post-cover-box-wide(href=post.url)
  						    	img.post-cover(src=post.cover)
  							.post-text
  								h2.post-title
  							    	a(href=post.url)= post.title
  								.post-content= post.content.opening or post.content.limit(200)
  								.post-meta(datetime=post.date('%B %d, %Y'), pubdate="pubdate")
  									a(href="/archive")= post.date('%B %d, %Y')
                            	if posts.categories
							    	a.post-categories(href=post.category.url)= post.category.title
						else
  				    		.post-text.post-text-full
                            	h2.post-title
                            		a(href=post.url)= post.title
                            	.post-content.markdown= post.content.opening or post.content.limit(200)
  								.post-meta(datetime=post.date('%B %d, %Y'), pubdate="pubdate")
  									a(href="/archive")= post.date('%B %d, %Y')
                            	if posts.categories
							    	a.post-categories(href=post.category.url)= post.category.title
		+h.paginator()
 
    #sidebar-right.pure-u-1.pure-u-md-1-4
    	from mixins import make_administratorinfo
        +make_administratorinfo()
    	from mixins import make_rencent
    	+make_rencent()
    	from mixins import make_cate
    	+make_cate()
    	from mixins import make_tag
    	+make_tag()   
    	from mixins import make_search
        +make_search()