extends base.jade
block title
	title= post.title + " - " + site.title


block content
	.autopagerize_page_element: .content: .post_page
	    .entry-header
             h1= post.title
             date.info= post.date.format('%B %d, %Y') 
	     .entry.markdown= post.content
	     .post_pager
  		    if posts.pre_one
  			   a.next(href=posts.pre_one.url)= posts.pre_one.title
		       else
		           span.next 
				        已是最新一篇
  		    if posts.next_one
  			   a.pre(href=posts.next_one.url)= posts.next_one.title  
		       else
		           span.pre 
			            已是最早一篇
					 
	+post.comments_as_html()