extends base
block title
	if request.path.startswith('/tag/') and posts.tags
		title= '标签 ' + posts.tags.join("+") + ' - ' + site.title
	else if request.path.startswith('/category/') and posts.category
		title= '分类 ' + posts.category.title + ' - ' + site.title
    else if request.args.s
	    title= request.args.s + ' 的搜索结果 - ' + site.title
	else
        title= '所有文章 - ' + site.title
block content
  #main.pure-u-1.pure-u-md-3-4:.post-cols
	+posts.set_min_per_page(12)

    #category
    	.category-inner
		    .category-header
			    if request.path.startswith('/tag/') and posts.tags
			        h3.title
					   i.fa.fa-hashtag
					   span= posts.tags.join("+") 
				else if request.path.startswith('/category/') and posts.category
					h3.title
					    i.fa.fa-folder-open-o
					    span= posts.category.title					    
				else if request.args.s
					h3.title
					    i.fa.fa-search
					    span= request.args.s
				else
					h3.title
					    i.fa.fa-exclamation-triangle
					    span= '所有文章'				
			.category-entries
				for post in posts: .category-entry
					.category-entry-header
				        .date
				        	a(href="/archive")= post.date.format("%Y/%m/%d")
				        a.entry-title(href=post.url)= post.title
				    .category
				    	a(href=post.category.url)= post.category.title
				    .entry-thumb-link
				        if post.cover
  						    img.entry-thumb(src=post.cover)
  						else
  						    img.entry-thumb(src=site.background_image)
  					.category-entry-body= post.content.limit(90).no_pic.plain
	+h.paginator()

  #sidebar-right.pure-u-1.pure-u-md-1-4
    from mixins import make_administratorinfo
    +make_administratorinfo()
    from mixins import make_cate
    +make_cate()
    from mixins import make_tag
    +make_tag()   
    from mixins import make_search
    +make_search()
			        
